@font-face {
  font-family: 'MyFont';
  src: url('Lato-Light.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

body {
  color: #000;
  font-family: 'MyFont';
  font-size: 0.75rem;
}

.capstone-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #000;
}