body {
  color: #000;
  font-size: 0.75rem;
}

.capstone-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000;
}

.capstone-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}